.card {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  /* height: 100%; */
  width: 25%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.text-muted {
  float: right;
  font-weight: 300;
}


.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border: 1px solid #343a40;
  border-radius: 5px;
  color: #343a40;
  text-decoration: none;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .btn {
  opacity: 1;
  z-index: 2;
}

.btn:hover {
  transition: background-color 0.3s, color 0.3s;
}

.clubs-display{
  display: flex;
  flex-direction: row;
}