
  nav{
    padding: 1.8rem;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 60%;
    color: whitesmoke;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));

  }
  
  .logo{
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
  }
  
  .nav-links{
    font-size: medium;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    min-width: fit-content;
  }
  
  .link {
    font-weight: 600;
    margin-right: 1.5rem;
    padding: 15px;
  }

  .link:hover {
    background: white;
    color: black;
    transition: 0.5s;
  }
  
  a.link {
    text-decoration: none;
    color: white;
  }
