
  video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    margin-top: 7.5rem;
  }
  
  .content h1 {
    margin-top: 80px;
    font-size: 45px;
    font-weight: 1000;
    color: #fefefe;
    text-transform: uppercase;
  }

  button.btn-explore {
    padding: 10px;
    width: 100px;
    margin: 15px;
    font-size: 15px;
    color: black;
    text-align: center;
    border: 2px;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
  }
  
  button.btn-explore:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    transition: 0.5s;
  }
  
  @media (max-width: 767px) {
    video {
      display: flex;
    }
  }
  

.section1-container {
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  padding-top: 0.5rem;
  padding-left: 20px; 
  text-align: center;
  box-sizing: border-box;
}

.section1-container h1{
  font-size: xxx-large;
  text-align: start;
}

.search-bar-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.check-availability-container-home {
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  margin: 3rem;
  font-size: 16px;
  align-items: center;
  flex-grow: inherit;
  flex-wrap: wrap;
}

.check-availability-container label {
  margin-bottom: 10px;
  display: flex;
}


.check-availability-container-home select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  width: 10rem;
  max-width: 300px;
  flex-shrink: inherit;
  flex-grow: inherit;
}

.check-availability-container-home input[type="date"] {
  border: 1px solid #bebebe;
  border-radius: 5px;
  padding: 2%;
  margin: 5px;
  min-width: 10rem;
}

.availability-btn-class {
  text-align: center;
  /* margin-top: 20px; */
}

.btn-check-availability-home {
  padding: 8px 14px;
  font-size: 15px;
  color: white;
  background: black;
  border: 2px;
  border-radius: 25px;
  cursor: pointer;
}

.btn-check-availability-home:hover {
  background-color: #262255;
  transition: 0.2s;
}

.or-line1,
.or-line2 {
  border-top: 2px solid #ccc;
  width: 80%;
  margin: 1rem auto;
  margin-right: 40px;
  margin-left: 40px;
}

.lines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  width: 40%;
  font-size: medium;
  max-width: 750px;
  background-image: url('../../public/videos/icons8-search.gif');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}


.check-availability-container-home .select,.check-availability-container-home  .select-date {
  display: flex;
  flex-direction: row;
  align-items: baseline
}



@media only screen and (max-width: 767px) {
  .check-availability-container {
    flex-direction: column;
    align-items: center;
  }

  .check-availability-container select,
  .check-availability-container input[type="date"] {
    width: 100%;
    max-width: none;
  }

  .check-availability-container-home .select, .check-availability-container-home .select-date {
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-shrink: inherit;
  }
}
