.login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-page .login-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.login-page .login-form {
  display: flex;
  flex-direction: column;
  border: 1px solid beige;
  margin-top: 3rem;
  padding: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  border-radius: 8px;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

@media (max-width: 770px) {
  .login-page .login-form {
    box-shadow: 0;
  }
}

.login-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.login-page input{
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.login-page form label {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  flex-shrink: inherit;
}

.login-page button {
  width: fit-content;
  margin: 1.5rem;
}

.login-page .login-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.login-page span{
  display: flex;
  justify-content: center;
}
